@import "../abstract/mixins";

.markwater {
    position: absolute;
    top: 33%;
    margin-top: -140px;
    text-align: center;
    width: 3em;
    margin-left: 0.5em;

    @include transform(rotate(-45deg));

    font-size: 280px;
    z-index: -1;
    color: rgba(81, 156, 154, 0.5);
}