**/__pycache__
honduras_invoices/__pycache__/__init__.cpython-37.pyc
honduras_invoices/models/__pycache__/models.cpython-37.pyc
honduras_invoices/README.md
honduras_invoices/.gitattributes
honduras_invoices/__pycache__/__init__.cpython-37.pyc
honduras_invoices/models/__pycache__/models.cpython-37.pyc
honduras_invoices/__pycache__/__init__.cpython-37.pyc
honduras_invoices/models/__pycache__/models.cpython-37.pyc
*.pyc
*.pyc
*.pyc
