.pos_invoice_screen .invoice-list {
  font-size: 16px;
  width: 100%;
  line-height: 40px;
}

.pos_invoice_screen .invoice-list th {
  padding: 0px 8px;
}

.pos_invoice_screen .invoice-list td {
  padding: 0px 8px;
}

.pos_invoice_screen .invoice-list td tr.lowlight {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  background: #d8eee3;
}

.pos_invoice_screen .invoice-list tr {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  background: #e6e6e6;
  cursor: pointer;
}

.pos_invoice_screen .invoice-list tr:nth-child(even) {
  background: #f7f7f7;
}

.pos_invoice_screen .invoice-list tr.highlight {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  background: #6ec89b !important;
  color: white;
}

.pos_invoice_screen .invoice-list tr.lowlight:nth-child(even) {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  background: #e3f6ed;
}

.pos_invoice_screen .invoice-list tr.overdue {
  color: red;
}

.pos_invoice_screen .invoice-list thead > tr {
  background: #f7f7f7;
}

.pos_invoice_screen .invoice-list tbody tr:hover {
  background-color: #6f6f6f;
  color: #dedede;
}

.pos_invoice_screen .searchbox {
  right: auto;
  margin-left: -90px;
  margin-top: 8px;
  left: 50%;
}

.pos_invoice_screen .searchbox input {
  width: 120px;
}

.pos_invoice_details {
  width: 700px !important;
  height: 525px !important;
}

.pos_invoice_details .title {
  background-color: #6EC89B !important;
  border-bottom: solid 1px #40B379 !important;
}

.pos_invoice_details .selection {
  line-height: 40px !important;
  max-height: 400px !important;
  font-size: 13px !important;
}

.pos_invoice_details .footer {
  background-color: #6EC89B;
  border-top: solid 1px #40B379 !important;
}

.pos_invoice_details .footer .button {
  background-color: #f0eeee !important;
}

.pos .invoice-select {
  text-align: left;
  display: inline-block;
  overflow: hidden;
  background: white;
  min-height: 44px;
  font-family: "Lato";
  font-size: 20px;
  color: #444;
  padding: 10px;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 1px gainsboro inset;
          box-shadow: 0px 0px 0px 1px gainsboro inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
}

.pos .invoice-details .invoice-name {
  font-size: 32px;
  line-height: 64px;
  margin-bottom: 16px;
}

.pos .invoice-details-box {
  position: relative;
  font-size: 16px;
}

.pos .invoice-details-right {
  width: 50%;
  float: right;
}

.pos .invoice-details-left {
  width: 50%;
  float: left;
}

.pos .invoice-detail {
  line-height: 24px;
}

.pos .invoice-detail .label {
  font-weight: bold;
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 8px;
}

.register-payment-row {
  float: left;
  clear: left;
  width: 100%;
  margin-top: 20px;
}

.register-payment-row .label {
  width: 30%;
  float: left;
}

.register-payment-row .input {
  width: 70%;
  float: left;
}

.payment-row {
  float: left;
  clear: left;
  width: 100%;
  padding: 0.3em;
}

.payment-row .label {
  float: left;
  clear: left;
  width: 20%;
  text-align: right;
  font-weight: bold;
  margin-right: 8px;
}

.payment-row .payment-text {
  width: 13%;
  border-right: 1px solid black;
  width: 13%;
  border-right: 1px solid black;
}

.payment-row .payment-total {
  width: 10%;
  padding-left: 8px;
}

.payment-row > * {
  float: left !important;
}

.payment-row:nth-child(odd) {
  background-color: #e4e4e4;
}
/*# sourceMappingURL=pos_invoices.css.map */